<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/ui/static/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

</head>

<body>
<div class="main-container">
    <header>
        <div class="header_text">
            <a href="/">
                FORUM
            </a>
        </div>

        {{ if .ThatUser.Username }}
       
        <div class="header_text1">
            {{.ThatUser.Username }}
            <a  class="header_part" href="/post/create"><i class="fa fa-plus"></i></a>
            <a class="header_part" href="/profile/{{.ThatUser.Username }}"><i class="fas fa-user-alt"></i></a>
            <a class="header_part" href="/auth/logout"> <i class="fa fa-sign-out-alt"></i></a>
        </div>

        {{ else }}
        <div class="header_text1">
            <a class="header_part" href="/auth/signin"><i class="ri-login-box-line"></i></a>
            <br>
            <a class="header_part" href="/auth/signup"><i class="ri-user-add-line"></i></a>
        </div>

        {{ end }}
    </header>
    <div class="content-user">
        <div >
            {{if .User.Username}}
            <div >

                <div >
                    <span >Username:</span>
                    <p>{{.User.Username}}</p>
                </div>

                <div >
                    <span >E-mail:</span>
                    <p>{{.User.Email}}</p>
                </div>
            </div>
            {{else}}
            <div >
                

                <div >
                    <span >Username:</span>
                    <p>{{.ThatUser.Username}}</p>
                </div>

                <div >
                    <span >E-mail:</span>
                    <p>{{.ThatUser.Email}}</p>
                </div>
            </div>
            {{end}}

            <div class="main-content" >
                <br>
                <h2>POSTS</h2>
                {{range .Posts}}
                {{if .}}
                <div class="post" >
                    <a  href="/post/?id={{.Id}}" style="color:brown">{{.Title}}</a>
                    <a >{{.Description}}</h3>
                </div>
                {{else}}
                {{end}}
                {{end}}
            </div>
            {{ if .ThatUser.Username }}
            <div class="main-content" >
                <br>
                <h2>POSTS i like</h2>
                {{range .PostsLike}}
                {{if .}}
                <div class="post" >
                    <a  href="/post/?id={{.Id}}" style="color:brown">{{.Title}}</a>
                    <a >{{.Description}}</h3>
                </div>
                {{else}}
                {{end}}
                {{end}}
            </div>
            {{else}}
            {{end}}
        </div>
    </div>

</div>

</body>

</html>